
{% load static from staticfiles %}

<nav class="nav no-js">
    <div class="row align-center">
        <div class="small-10 columns">
            <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
                <a href="{% url 'home' %}">
                    <img src="{% static 'img/logo.png' %}" id="logo">
                </a>
                <button class="menu-icon top-bar-right" type="button" data-toggle="example-menu"></button>
            </div>

            <div class="top-bar" id="example-menu">
                <a href="{% url 'home' %}" class="hide-small">
                    <img src="{% static 'img/logo.png' %}" id="logo">
                </a>
                <div class="top-bar-right">
                    <ul class="dropdown menu vertical medium-horizontal nav__list" data-dropdown-menu>
                        <li><a href="{% url 'how' %}">How it Works</a></li>
                        <li><a href="{% url 'musicians' %}">Musicians</a></li>
                        <li><a href="{% url 'order' %}">Order Form</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
