<nav class="nav no-js">
    <div class="row align-center">
        <div class="small-10 columns">
            <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
                <div id="record">
                    <a href="{% url 'home' %}">
                        <div id="record4">
                            <div id="record3">
                                <div id="record2">
                                    <div id="record1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <button class="menu-icon top-bar-right" type="button" data-toggle="example-menu"></button>
            </div>

            <div class="top-bar" id="example-menu">
                <div class="top-bar-left hide-small">
                    <div id="record">
                        <a href="{% url 'home' %}">
                            <div id="record4">
                                <div id="record3">
                                    <div id="record2">
                                        <div id="record1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="top-bar-right">
                    <ul class="dropdown menu vertical medium-horizontal nav__list" data-dropdown-menu>
                        <li><a href="{% url 'how' %}">How it Works</a></li>
                        <li><a href="{% url 'musicians' %}">Musicians</a></li>
                        <li><a href="{% url 'order' %}">Order Form</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
