.no-js {
	@include breakpoint(small only) {
		.top-bar {
			display: none;
		}
	}
	@include breakpoint(medium) {
		.title-bar {
			display: none;
		}
	}
}

.nav {
	background-color: $dark-gray;
	margin-bottom: 1rem;
	.menu-icon {
		position: absolute;
		right: 2rem;
		top: 3rem;
	}
}

%effects-hoverline,
.effects-hoverline {
	@include breakpoint(medium) {
		a:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			bottom: 0;
			left: 0;
			background-color: $blue;
			visibility: hidden;
			-webkit-transform: scaleX(0);
			transform: scaleX(0);
			-webkit-transition: all 0.3s ease-in-out 0s;
			transition: all 0.3s ease-in-out 0s;
		}
		a:hover:before {
			visibility: visible;
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
		}
		a:hover {
			color: $blue;
		}
	}
}

.nav__list {
	li {
		text-align: right;
		list-style: none;
		padding: 1rem 1.5rem;
		@extend %heading__small;
		a {
			position: relative;
			color: $white;
		}
		a:hover {
			color: $blue;
		}
		@extend %effects-hoverline;
	}
	li:last-child {
		@include breakpoint(medium) {
			padding-right: 0;
		}
	}
}
