%wallpaper {
	background-repeat: repeat;
	background-size: 150px;
}

.wallpaper__note {
	@extend %wallpaper;
	background-color: $purple;
	background-image: url(../note_scatter.png);
}

.wallpaper__record {
	@extend %wallpaper;
	background-color: $red;
	background-image: url(../record_scatter.png);
}

%wallpaper__guitar,
.wallpaper__guitar {
	@extend %wallpaper;
	background-color: $blue;
	background-image: url(../guitar_scatter.png);
}

.wallpaper__clef {
	@extend %wallpaper;
	background-color: $medium-gray;
	background-image: url(../clef_scatter.png);
}
