%wallpaper {
	background-repeat: repeat;
	background-size: 150px;
}

.wallpaper__note {
	@extend %wallpaper;
	background-color: $purple;
	background-image: url(../img/note_scatter.png);
	padding: 1.5rem 1rem;
}

.wallpaper__record {
	@extend %wallpaper;
	background-color: $red;
	background-image: url(../img/record_scatter.png);
}

%wallpaper__guitar,
.wallpaper__guitar {
	@extend %wallpaper;
	background-color: $blue;
	background-image: url(../img/guitar_scatter.png);
}

.wallpaper__clef {
	@extend %wallpaper;
	background-color: $medium-gray;
	background-image: url(../img/clef_scatter.png);
}
