main {
	margin: 0 1.5rem 0 1.5rem;
}

section {
	margin: 2rem 0;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
