
{% load static from staticfiles %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{% endblock %} - Say It With A Song</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon-precomposed" href="/favicon-152.png">

        {# Facebook Open Graph Tags #}
        <meta property="og:title" content="" />
        <meta property="og:site_name" content="" />
        <meta property="og:url" content="" />
        <meta property="og:description" content="" />
        <meta property="fb:app_id" content="">
        <meta property="og:type" content="website" />
        <meta property="og:image" content="" />

        {# Twitter Summary Card with Large Image tags #}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="">
        <meta name="twitter:creator" content="">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="">
        <meta name="twitter:image" content="">

        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <script src="{% static 'js/bundle.js' %}" async defer></script>
        <script src="https://use.fontawesome.com/998d0f8dda.js"></script>

    </head>
    <body>
        <header>
            <nav class="nav">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'how' %}">How it Works</a></li>
                    <li><a href="{% url 'musicians' %}">Musicians</a></li>
                    <li><a href="{% url 'order' %}">Order Form</a></li>
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
        <footer>
            <a href="{% url 'home' %}" class="block--align-left">Home</a>
            <a href="mailto:order@sayitwithasong.co" target="_blank" class="block--align-right"><p class="visually-hidden">Send me an Email</p><i class="fa fa-envelope-square fa-lg fa-fw" aria-hidden="true"></i></a>
            <a href="" target="_blank" class="block--align-right"><p class="visually-hidden">Facebook</p><i class="fa fa-facebook fa-lg fa-fw" aria-hidden="true"></i></a>
            <a href="" target="_blank" class="block--align-right"><p class="visually-hidden">YouTube Channel</p><i class="fa fa-youtube fa-lg fa-fw" aria-hidden="true"></i></a>
        </footer>

        {# Structured Data for Logo and Social Profile Links #}
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "Organization",
                "name": "",
                "url": "",
                "logo": "",
                "sameAs": [
                    {# "http://www.facebook.com/", #}
                    {# "http://instagram.com/", #}
                    {# "http://www.twitter.com/", #}
                    {# "http://plus.google.com/" #}
                    {# "http://youtube.com/" #}
                ]
            }
        </script>
    </body>
</html>
