
{% load static from staticfiles %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{% endblock %} - Say It With A Song</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon-precomposed" href="/favicon-152.png">

        {# Facebook Open Graph Tags #}
        <meta property="og:title" content="" />
        <meta property="og:site_name" content="" />
        <meta property="og:url" content="" />
        <meta property="og:description" content="" />
        <meta property="fb:app_id" content="">
        <meta property="og:type" content="website" />
        <meta property="og:image" content="" />

        {# Twitter Summary Card with Large Image tags #}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="">
        <meta name="twitter:creator" content="">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="">
        <meta name="twitter:image" content="">

        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Martel:300,400,600,900|Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600,900|Open+Sans" rel="stylesheet">

        <!-- international phone -->
        <link rel="stylesheet" href="/intlTelInput.css">
    </head>
    <body>
        {% include 'partials/topbar.html' %}
        <main>
            <div class="row align-center">
                <div class="small-12 columns">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li id="message_{{ forloop.counter }}"
                                  {% if message.tags %} class="{{ message.tags }} messages__message"
                                      {% endif %}>
                                    {{ message }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </main>

        {# Structured Data for Logo and Social Profile Links #}
        <script async src="{% static 'js/bundle.js' %}" ></script>
        <script async src="https://use.fontawesome.com/998d0f8dda.js"></script>

        <script async defer type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "Organization",
                "name": "",
                "url": "",
                "logo": "",
                "sameAs": [
                    {# "http://www.facebook.com/", #}
                    {# "http://instagram.com/", #}
                    {# "http://www.twitter.com/", #}
                    {# "http://plus.google.com/" #}
                    {# "http://youtube.com/" #}
                ]
            }
        </script>
        <script>
            function deferVideoLoading() {
                let mediaSourcesToDefer = document.getElementsByTagName('iframe');
                for (i=0; i<mediaSourcesToDefer.length; i++) {
                    mediaSourcesToDefer[i].setAttribute('src', mediaSourcesToDefer[i].getAttribute('data-src'));
                }
            }
            window.onload = deferVideoLoading;
        </script>

    </body>
</html>
