{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<main>
	<h1>Say It With a Song</h1>
	<div class="row">
		<div class="columns small-12 medium-8">
			<p></p>
		</div>
		<div class="columns small-12 medium-4">
			
		</div>
	</div>
    
    <section class="examples">
    	<h2>Examples</h2>
    	<div class="row">
    		<div class="columns small-12 medium-6 large-4">
    			<h3>Title</h3>
    			<p class="text--subtitle">Subtitle</p>
    			<p class="text--caption">Caption</p>

    		</div>
    	</div>
    </section>

</main>
{% endblock content %}
