{% extends 'base.html' %}
{% block title %}How It Works{% endblock %}

{% block content %}
<main>
	<div class="row">
		<h1>How It Works</h1>
		<div class="row">
    		<div class="small-12 columns">
    			<h2>Order Form</h2>
    		</div>
    		<div class="small-12 columns">
    			<h2>Email from Musician</h2>
    		</div>
    		<div class="small-12 columns">
    			<h2>Draft and Feedback</h2>
    		</div>
    		<div class="small-12 columns">
    			<i class="fa fa-circle-o" aria-hidden="true"></i>
    			<h2>Final Product</h2>
    		</div>
    	</div>
    </div><!-- end main row -->
    
</main>
{% endblock content %}
