{% extends 'base.html' %}
{% block title %}How It Works{% endblock %}

{% block content %}
<section class="how">
	<h1>How It Works</h1>
    <div class="row">
		<div class="small-12 medium-6 columns">
            <div class="box-step">
                <span class="circle">1</span>
                <h2 class="step__title">Order Form</h2>
                <p class="step__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, laboriosam totam. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
		</div>
		<div class="small-12 medium-6 columns">
            <div class="box-step">
                <span class="circle">2</span>
    			<h2 class="step__title">Email from Musician</h2>
                <p class="step__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, laboriosam totam molestias, soluta eligendi itaque tempora facilis deleniti id quidem ab possimus ratione quaerat modi esse atque, sapiente repellat sint!</p>
            </div>
		</div>
		<div class="small-12 medium-6 columns">
            <div class="box-step">
                <span class="circle">3</span>
    			<h2 class="step__title">Draft and Feedback</h2>
                <p class="step__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, laboriosam totam molestias, soluta eligendi itaque tempora facilis deleniti id quidem ab possimus ratione quaerat modi esse atque, sapiente repellat sint!</p>
            </div>
		</div>
		<div class="small-12 medium-6 columns">
            <div class="box-step">
                <span class="circle">4</span>
    			<h2 class="step__title">Final Product</h2>
                <p class="step__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, laboriosam totam molestias, soluta eligendi itaque tempora facilis deleniti id quidem ab possimus ratione quaerat modi esse atque, sapiente repellat sint!</p>
            </div>
		</div>
    </div>
</section>
{% endblock content %}
