{% extends 'base.html' %}
{% block title %}Musicians{% endblock %}

{% block content %}
<section class="musicians">
	<div class="row align-center">
        <div class="small-12 medium-11 large-10 columns">
			<h1 class="heading__jumbo">Meet the Musicians</h1>
			<div class="row">
				{% for musician in musicians %}
					{% if musician.status == 'p' %}
		    		<div class="small-12 medium-6 large-4 columns ">
		    			<div class="box-musician wallpaper__clef">
		    				{% if musician.image %}
		    					<img src="{{ musician.image.url }}" alt="photo of {{ musician.name }}" class="media-musician">
		    				{% endif %}
							<h2 class="heading__medium-musician">{{ musician.name }} <div class="circle-tiny"></div> {{ musician.position }}</h2>
							<p class="heading__sub-musician">{{ musician.musical_styles }}</p>
							<p>{{ musician.bio }}</p>
                            {% if musician.song_url_1 %}
                                <p>Check out my songs:</p>
                                <ul>
                                    <li><a href="{{ musician.song_url_1 }}" target="_blank">{{ musician.song_name_1 }}</a></li>
                            {% endif %}
                            {% if musician.song_url_2 %}
                                    <li><a href="{{ musician.song_url_2 }}" target="_blank">{{ musician.song_name_2 }}</a></li>
                                </ul>
                            {% endif %}
                            {% if musician.profile_url %}
                                <p><a href="{{ musician.profile_url }}" target="_blank">Check out my music.</a></p>
                            {% endif %}
						</div>
		    		</div>
		    		{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</section>
{% endblock content %}
